/- content_for :top_bar do
/- content_for :menu do
/  = render partial: 'menu'
/- content_for :pagetop do
.container
  .row
    =image_tag('fclogo.png', :width => "60%", :height => "60%", class: 'center-block')
