
/- content_for :menu do
/  = render partial: 'menu'
/- content_for :pagetop do
.container
  .row
    %br
    %br
    .video
      =video_tag("intro.MOV", :size => "852x480", :controls => false, :autobuffer => true, autoplay: :autoplay, loop: :loop, muted: :muted, :id => "intro-video", class: 'center')
    .overlay
      =image_tag('fclogo_transparent.png', :width => "65%", :height => "65%", class: 'center-block')
      =link_to 'Take a Class', 'https://fitcity.wodify.com/OnlineSalesPortal/Home.aspx', class: 'btn btn-primary center-btn'
    %br
    %br
    %br
  .row{style: 'background-color: #3380FF;'}
    .center-block{style: 'text-align: center; width: 75%; font-size: 15pt; color: white;'}
      %br
      %i{style: 'font-size: 16pt;'} It's a journey. Not a destination.
      %br
      %h1 WELCOME TO FIT CITY
      %br
      Get fit. Get strong. Get healthy. Feel amazing. Do it all at Fit City Cross Training. Our state-of-the-art facility offers an intense workout experience in a comfortable, personal and professional atmosphere. Fit City Cross Training employs experienced coaches who are certified in many fitness disciplines. This allows them to draw from a broad base of knowledge to design a training regimen to give you the results you want. They are always on-hand and ready to help our members have a killer session each and  every time.
      %br
      %br
  %br
  %br

